<!-- reset_password.html -->

{% extends 'base.html' %}
{% block title %} Reset Password {% endblock %}
{% block content %}
<div class="max-w-md w-full bg-white p-8 rounded shadow-md">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Reset Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.new_password1 }}
        {{ form.new_password2 }}
        <button type="submit" class="btn block w-full mt-4">Set New Password</button>
    </form>
</div>
{% endblock %}
