
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/tailwind.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/boxicons.min.css' %}" rel="stylesheet">
    <!-- Include Space Grotesk font -->
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet">
    <style>
        /* Customize additional styles here if needed */
        body {
            font-family: 'Space Grotesk', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
    {% block content %}{% endblock %}
</body>
</html>